        body{
            background: #e6e6e6;
        }
        .laranja{
            font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
            color: #DAA520;
        }
        #titulo{
            font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
            width: 100%;
            height: 120px;
            padding-top: 5px;
            background-color: black;
            color: white;
            text-align: center;
            font-size: xx-large;
            font-family: Arial, Helvetica, sans-serif;
        }

        #vet1{

          float: left;
          width: 55px;
          height: 55px;

        }
        #vet2{
            float: right;
            width: 55px;
            height: 55px;
        }

        #categorias{
            text-align: center;
            margin-top: 30px;
            border: 5px, solid, black;
            width: 100%;
            height: 50px;
            font-size: x-large;
            background-color: black;

        }


        #cat{
            text-decoration: none;
            color: white;
            padding-left: 20px;
        }


        .bloco2{

            clear: both;
            padding-top: 50px;

        }
        .noticia0{

            text-align: center;
            border: 1px solid black;
            float: left;
            width: 413px;
            height: 413px;
            background-color: whitesmoke;
            margin-left: 0px;
        }
        a:link{
            color: white;
            text-decoration: none;
        }
        a:visited{
            color: white;
            text-decoration: none;
        }
        .noticia{

            text-align: center;
            border: 1px solid black;
            float: left;
            width: 413px;
            height: 413px;
            background-color: whitesmoke;
            margin-left: 10px;
        }
        .noticia1{

            text-align: left;
            border: 1px solid black;
            float: left;
            width: 850px;
            height: 550px;
            background-color: whitesmoke;

        }
        .noticia2{
            
        text-align: left;
        border: 1px solid black;
        float: left;
        width: 400px;
        height: 265px;
        background-color: whitesmoke;
        margin-left: 10px;
        }
        .noticia3{
            
            text-align: left;
            border: 1px solid black;
            float: left;
            width: 13%;
            height: 300px;
            background-color:black;
            margin-left: 10px;
            margin-top: 20px;
            
            }
        .txtnot1{
            text-align: left;
        }

        .imgnot{
          width: 7%;
          height: 7%;
        }
        .imgnot2{
          width: 250px;
          height: 150px;
        }
        .titulonoticia{
            color: white;
            text-align: center;
            font-size: 1.5em;
        }
